.project-management {
  display: flex;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background: #fafafa;
}

/* 适配移动端 */
@media (max-width: 768px) {
  .project-management {
    flex-direction: column;
  }
}

